.toolbar-audio {
    background-color: #212121;
    color: white;
    height: 100px;
}

.container {
    height: 10000px;

    .main-toolbar {
        .spacer {
            flex: 1 1 auto;
        }

        .toolbar-btn {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .content {
        .logo {
            text-align: center;
            font-size: 24px;
            color: #3f51b5;

            .mat-icon {
                height: 160px !important;
                width: 160px !important;
                font-size: 160px !important;
            }
        }
    }


    .media-footer {
        bottom: 0;
        width: 100%;
        position: fixed;
        z-index: 99999;
        right: 0;
        padding: 0;

        .time-slider {
            width: 100% !important;

        }

        .media-action-bar {
            width: 100%;
            justify-content: center;

            .mat-icon {
                height: 48px !important;
                width: 48px !important;
                font-size: 38px !important;
            }
        }
    }
}


/**********************************************/

.ux-ui-table {
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #222222;
    color: #ffffff;
    margin-top: 70px;
  }
  
  .ux-ui-table th,
  .ux-ui-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444444;
  }
  
  .ux-ui-table th {
    background-color: #333333;
    font-weight: bold;
  }
  
  .ux-ui-table tbody tr:nth-child(even) {
    background-color: #292929;
    cursor: pointer;
  }
  
  .ux-ui-table tbody tr:hover {
    background-color: #555555;
  }


/*********************************/

.upload-btn{
    
margin-left: 440px
}

.size{
    font-size: 20px;
    margin-right: 5px;
}
  
  