<div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid" >
            <router-outlet></router-outlet>     
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                                            
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->

            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer">
                © {{year}} DB music
            </footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->

            <app-audio-player></app-audio-player>
        </div>
        
    </div>
    
</div>

<app-modal-image></app-modal-image>
