<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Search user" #termTxt
                    (keyup)="search(termTxt.value)">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="loading">
    <div class="col-12">
        <div class="text-center">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Playlists ({{playlists.length}})</h4>
                        <h6 class="card-subtitle">Add<code>.table-bordered</code>for borders on all sides of the table
                            and
                            cells.
                        </h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" (click)="openModalPlaylistName()">
                                <i class="fa fa-music"></i> Crear playlists
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Img</th>
                                <th>Name</th>
                                <th class="text-nowrap text-center w100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let playlist of playlists">
                                <td class="text-center">
                                    <img [src]="playlist.img | image: 'playlists'" [alt]="playlist.name"
                                        class="imgTable cursor" (click)="openModal(playlist)">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="name"
                                        [(ngModel)]="playlist.name">
                                </td>
                                <td class="text-nowrap">
                                    <a (click)="saveChanges(playlist)" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="fa fa-pencil text-inverse m-r-10 cursor"></i> Edit</a>
                                    <a (click)="deletePlaylist(playlist)" data-toggle="tooltip"
                                        data-original-title="Close"> <i class="fa fa-close text-danger cursor"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <button class="btn-secondary">Previous</button>
                &nbsp;
                <button class="btn-secondary">Next</button> -->
            </div>
        </div>
    </div>
</div>